# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [published]
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github

    - name: Build with Maven
      working-directory: ./demo-time
      run: mvn -B package --file pom.xml

    - name: Print value
      run: |
        echo "PAT is  ${{ secrets.PAT }}"
          
    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy
      working-directory: ./demo-time
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
